.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    height: 20%;
    .profile {
      float: right;
    }
  }
  .main-image {
    height: 60%;
    width: 100%;
    border-radius: 1rem;
    align-self: center;
  }
  .footer {
    height: 20%;
    .buttons {
      height: 100%;
      button {
        height: 100%;
        width: 33.33%;
      }
    }
  }
}
