.body {
  height: 100vh;
  .main-image {
    height: 95%;
    width: 100%;
    border-radius: 1rem;

  }
  .footer {
    height: 5%;
    .buttons {
      height: 100%;
      button {
        height: 100%;
        width: 50%;
      }
    }
  }
}
