<div class="body">
  <div class="header">
    <button (click)="logout()">logout</button>
    <button (click)="moveProfile()" class="profile">Profile</button>
  </div>
  <div (click)="showInfo()" class="container">
    <img class="main-image" src="{{currentImpression.account_info.picture_url}}" alt="">
    <div class="username">{{currentImpression.account_info.username}}</div>
  </div>
  <div class="footer">
    <div class="buttons">
      <button (click)="dont()">
        dont
      </button>
      <button (click)="showMatches()">
        matches
      </button>
      <button (click)="match()">
        match
      </button>
    </div>

  </div>
</div>
