<div class="body">
  <h1>What are your hobbies?</h1>
  <div class="hobbies">
    <div class="hobby" *ngFor="let category of categories">
      <table class="checking">
        <tr><td><input id="{{category.id}}" (click)="toggleCategory(category)" type="checkbox"></td>{{ category.name }}<td></td></tr>
      </table>
      <div *ngIf="category.enabled">
        <input [(ngModel)]="category.description" type="textarea">
      </div>
    </div>
  </div>
  <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="save()">Save</button>
</div>
