.body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  h1 {
    margin-top: 1rem;
  }
  .hobbies {
    display: table;
    flex-direction: column;
  }
  .hobby {
    width: 100%;
    justify-content: space-around;
    .checking {
      display: flex;
      width: 100%;
    }
  }

  button {
    height: 2.5rem;
    width: 10rem;
    border-radius: 5rem;
    font-size: 20px;
  }
}
