.body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  h1 {
    margin-top: 1rem;
  }

  .hobbies {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    .hobby {
      width: 100%;
      justify-content: space-around;
      .checking {
        text-align: center;
        width: 100%;
        justify-content: space-around;
        tr {
          td {
            width: 50%;
          }
        }
      }
      .inputBox {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }


  button {
    height: 2.5rem;
    width: 10rem;
    border-radius: 5rem;
    font-size: 20px;
  }
}
